<div class="container">
  <h2>Sign up</h2>
  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    
    <div class="checkbox form-inline">
        <%= check_box_tag :active, "", false, class: "form-control",
           "data-toggle": "collapse", "data-target": "#company_fields" %>&nbsp
        <%= label_tag :active, "This account represents a company" %>
    </div>

    <div class="collapse" id="company_fields">
      <br>
      
      <%= f.fields_for f.object.build_company do |company_fields| %>
        <div class="field form-group">
          <%= company_fields.label :phone %>
          <%= company_fields.text_field :phone, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= company_fields.label :headquarters %>
          <%= company_fields.text_field :headquarters, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= company_fields.label :description %>
          <%= company_fields.cktext_area :description, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= company_fields.label :careers_advertisement %>
          <%= company_fields.cktext_area :careers_advertisement, class: "form-control" %>
        </div>
      <% end %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>
</div>
