<div class="row">
	<div class="col-lg-2 text-center">
		<h3>
			<i class="fa fa-star text-warning"></i>
			<%= "#{sprintf("%.1f", company.average_score)} / 5" %>
		</h3>
		<p><%= "(#{pluralize(company.number_of_reviews, 'review')})" %></p>
	</div>
	<div class="col-lg-10">
		<% ([5, 4, 3, 2, 1, 0]).each do |rating| %>
			<div class="row">
				<div class="col-1 text-right">
					<%= rating %>
				</div>
				<div class="col-9 pt-1">
					<div class="progress">
						<div class="progress-bar bg-warning" style="width: <%= company.percent_reviews_with_rating(rating) %>%"></div>
					</div>
				</div>
				<div class="col-2">
					<%= "(#{company.reviews_with_rating(rating)})" %>
				</div>
			</div>
			<br>
		<% end %>
		
	</div>
</div>