<div class="container pt-3 pb-3 bg-light">
  <div class="row pb-3">
    <div class="col-4 text-left"></div>
    <div class="col-4 text-center"><%= route.company.user.name %></div>
    <div class="col-4 text-right"><%= route.name %></div>
  </div>
  <div class="row pb-3">
    <div class="col-4 text-left"><%= route.departure_station.city %></div>
    <div class="col-4 text-center"><%= "#{route.distance} km" %></div>
    <div class="col-4 text-right"><%= route.arrival_station.city %></div>
  </div>
  <div class="row pb-3">
    <div class="col-4 text-left">
      <h5>
        <strong><%= route.time_by_date(date.dup.change(hour: route.start_date.hour, 
        																		min: route.start_date.min)) %></strong>
      </h5>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-info" data-toggle="collapse" data-target="#details_route_<%= route.id %>">Details</button>
    </div>
    <div class="col-4 text-right">
      <h5>
        <strong><%= route.time_by_date(date.dup.change(hour: route.start_date.hour, 
        								min: route.start_date.min) + route.duration.minutes) %></strong>
      </h5>
    </div>
  </div>
  <div id="details_route_<%= route.id %>" class="collapse">
    <div class="row pb-2">
      <div class="col-6 text-left">
        Departure: <%= "#{route.departure_station.name}, #{route.departure_station.city}" %>
      </div>
      <div class="col-6 text-right">
        Arrival: <%= "#{route.arrival_station.name}, #{route.arrival_station.city}" %>
      </div>
    </div>
    <div class="row pt-2">
      <% if user_signed_in? %>
        <div class="col-4 text-left pt-2">
          <strong>Price: <%= route.price %> RON</strong>
        </div>
        <% if current_user.has_company? && current_user.company == route.company %>
          <div class="col-4 text-center">
            <%= render 'shared/route_modal', route: route, date: date %>
            <%= link_to "Edit", edit_route_path(route), class: "btn btn-outline-primary" %>
            <%= link_to "Delete", route, method: :delete, class: "btn btn-outline-danger",
                  data: { confirm: "Are you sure?" } %>
          </div>
        <% else %>
          <div class="col-4 text-center">
            <% @journey = Journey.new %>
            <%= form_for @journey do |f| %>
              <%= f.hidden_field :route_id, value: route.id %>
              <%= f.hidden_field :date, value: date %>
              <% if route.number_of_available_places(date) > 0 %>
                <%= f.submit "Buy ticket", class: "btn btn-primary" %>
              <% else %>
                <%= f.submit "Sold out", class: "btn btn-primary", disabled: true %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="col-4 text-right pt-2">
          <strong>Capacity: <%= route.capacity %></strong>
        </div>
      <% else %>
        <div class="col-6 text-left pt-2">
          <strong>Price: <%= route.price %> RON</strong>
        </div>
        <div class="col-6 text-right pt-2">
          <strong>Capacity: <%= route.capacity %></strong>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>