<!DOCTYPE html>
<html>
  <head>
    <title>BusApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  </head>

  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Bus app</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Home</a>
          </li>
          <% if @companies_controller_active && (!current_user || 
                    !current_user.has_company? || current_user.company.id.to_s != params[:id]) %>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop_company" data-toggle="dropdown">
                <%= Company.find_by_id(params[:id]).user.name %>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" 
                    href="<%= company_path(Company.find_by_id(params[:id])) %>">Profile</a>
                <a class="dropdown-item" 
                    href="<%= contact_company_path(Company.find_by_id(params[:id])) %>">Contact</a>
                <a class="dropdown-item"
                    href="<%= careers_company_path(Company.find_by_id(params[:id])) %>">Careers</a>
              </div>
            </li>

          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <% if current_user.has_company? %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                      href="#" id="navbardrop_my_company" data-toggle="dropdown">
                  My company
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" 
                      href="<%= company_path(current_user.company) %>">Profile</a>
                  <a class="dropdown-item" 
                      href="<%= contact_company_path(current_user.company) %>">Contact</a>
                  <a class="dropdown-item"
                      href="<%= careers_company_path(current_user.company) %>">Careers</a>
                  <a class="dropdown-item"
                    href="<%= history_path %>">History</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                      href="#" id="navbardrop" data-toggle="dropdown">
                  Manage
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="<%= new_station_path %>">Stations</a>
                  <a class="dropdown-item" href="<%= new_route_path %>">Routes</a>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "My profile", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "History", history_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, 
                  method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <br>

    <div class="container">
      <%= render 'shared/flash_messages' %>
    </div>
    
    <%= yield %>
  </body>
</html>
